body {
	width:100%;
	height:100%;
	background-image: linear-gradient(lightblue, purple);
	overflow: hidden;
}

#server, a:link {
	color:yellow;
	font-size:2em;
	text-decoration:none;
}

a:visited {
	color:orange;
}

.column{
	background: rgba(255, 255, 255, 0.5);
	width: 180px;
	height: 400px;
	display: inline-block;
	float: left;
	margin-bottom:10px;
	border-radius: 10px;
}

#box {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	margin: 0;
	border-radius: 10px;
	/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, .9); */
}

#chat {
	display:inline-block;
	width:500px;
	height:400px;
	background-color: lightgrey;
	overflow-x: hidden;
	overflow-y: auto;
	border-radius:10px;
	/*background-color: green;
	background-image: linear-gradient(transparent 50%, rgba(255,255,255,.3) 50%);
	background-size: 2px 2px;
	font-family: 'Orbitron', sans-serif;*/
	font-size:24px;
	float: right;
	margin-bottom: 10px;
}

#chat::-webkit-scrollbar{
	background-color: purple;
	border-radius: 5px;
	width: 10px;
	height: 20px;
}

#chat img {
	max-height: 24px;
	min-height: auto;
}
img{
	max-height: 36px;
	min-height: auto;
}
p{
	line-height: 20px;
	margin: 0;
	background-color: white;
	shadow: 1px 3px 5px 2px;
	margin-left: 20px;
	min-width: 80%;
	max-width: auto;
	margin-bottom:10px;
	border-radius: 10px;
	height:auto;
}

span{
	border-radius: 10px;
}

#msg {
	display:inline-block;
	width:345px;
	margin: 5 5 0 0;
}

#send {
	display:inline-block;
}

#emojis{
	display: flex;
	visibility: hidden;
	margin: 10px;
	align-self: center;
	padding-left: 10%;
}
.sombra{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, .9);
}
.yo{
	background-color: lightgreen;
}
input{
	background: rgba(255, 255, 255, 0.5);
	border-radius: 20px;
}
